/* Colors */
$highlight: #000080;
$window-bg: #c0c0c0;
$border-primary: #808080;
$border-secondary: #dfdfdf;
$text-disabled: #949494;
$border-dotted: #ff7f7f;

/* Sizes */
$icon-size: 32px;

/* Mixins */
