@use 'variables' as *;

// @font-face {
//   font-family: 'ms_sans_serif';
//      src: url('../../fonts/ms_sans_serif.woff2') format('woff2');
//      font-weight: 400;
//      font-style: normal
// }
// @font-face {
//        font-family: 'ms_sans_serif';
//        src: url('../../fonts/ms_sans_serif_bold.woff2') format('woff2');
//        font-weight: bold;
//        font-style: normal
// }

* {
  // font-family: 'ms_sans_serif';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-spacing: 2px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

// button {
//   background-color: $primary !important;
//   padding: 5px 10px !important;
// }

a {
  color: inherit;
  text-decoration: none;
}

[disabled], [data-disabled] {
  pointer-events: none;

  &, * {color: $text-disabled;}

  span[class*=close] {
    &::before, &::after {background-color: $border-primary !important;}
  }
}

/* Global MUI Styles */
.MuiDataGrid-virtualScroller {
  [role=rowgroup] {width: 100%;}
}
[class*=MuiDataGrid-columnHeaders] {display: none !important;}

.MuiDataGrid-row {
  width: 100% !important;

  > div:nth-child(3) {display: none;}

  [class*=MuiDataGrid-cell] {
    width: 100% !important;
    max-width: initial !important;

    &:first-of-type {
      @media (min-width: $tablet) {
        min-width: 200px !important;
      }    
      width: 200px !important;

      [class*=cellContent] {font-weight: bold;}
    }

    [class*=cellContent] {width: initial !important;}
  
    &:nth-of-type(n+3) {display: none;}
  }
}

*:focus {
  outline: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// } 