@use 'variables' as *;

#toolbar {
    max-width: $max-width-lg;
    margin: auto;
    width: 100%;

    .signInCta {
        // background-color: $primary;
        padding: 5px 10px;
    }
}

#appBar {
    position: static;
    background: none;
}