@use 'variables' as *;


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1300px;
    margin: auto;
    padding: 25px;

    .link {
        padding: 10px;

        .table {
            display: initial;
        }
    }

    .logs {
        padding: 10px;
    }
}