@use 'variables' as *;

.container {
    height: 100%;
    width: 100%;
    max-width: 1300px;
    margin: auto;

    .pageHero {
        margin: 0;
    }

    .link,
    .logs {
        display: flex;
        flex-direction: column;

        .table {
            box-sizing: border-box;

            td {
                width: 100%;

                &:first-of-type {
                    font: bold 1rem/1 $font-primary;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }

    .visitLogTable {
        th {
            font: bold 1rem/1 $font-primary;
            text-align: center;
        }
    }
}
