@use 'variables' as *;


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1300px;
    margin: auto;
    padding: 25px;

    .link {
        padding: 10px;

        .table {
            box-sizing: border-box;

            td {
                width: 100%;

                &:first-of-type {
                    font: bold 1rem/1 $font-primary;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }

    .logs {
        padding: 10px;

        th {
            font: bold 1rem/1 $font-primary;
            text-align: center;
        }
    }
}