name: deploy-dotnet

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]
    paths: 
    - 'src/url/**'

env:
  REGISTRY_IMAGE: thitt7/dotnet
  DOCKERFILE: src/url/Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.WORKFLOW_TOKEN }}
    - uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PW }}

    - name: Build the Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ${{ env.DOCKERFILE }}
        push: true
        tags: ${{ env.REGISTRY_IMAGE }}:latest

    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
    - name: Save DigitalOcean kubeconfig
      run: doctl kubernetes cluster kubeconfig save url-tracker-cluster
    - name: Restart kubernetes deployment
      run: kubectl rollout restart deployment dotnet