name: deploy-dotnet

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]
    paths: 
    - 'src/url/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PW }}

    - name: Build the Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: src/url/Dockerfile
        push: true
        tags: thitt7/dotnet:latest
